.button {
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 3px;
  outline: 0;
  outline-offset: 0;
  background: #2525ffa3;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background: #5151e8d9;
  }
  &:active {
    background: #02027bdb;
  }
}
